body{font-family: 'Fira Sans', sans-serif;}
.logo h1{font-size: 50px;}
.logo h6{font-size: 12px;}
.navbar-nav a:hover{background-color:red; border-radius:10px ;}
.dropdown-menu{font-size: 15px; width: fit-content; border-radius:10px;}
.home-slider h2{font-size: 48px;}
.home-slider .btn-btn-outline-white{font-size: 28px; line-height: auto;}
.aboutUs p{font-size: 16px;line-height: auto;}
.aboutUs h3{font-size: 40px; line-height: auto;}
.service h3{font-size: 40px; line-height: auto;}
.service-box h4{font-size: 20px; line-height: auto;}
.service-box p{text-align: justify; font-size: 12px; font-weight: bold; line-height: auto;}
.connect{background-image: url(../images/connect\ image\ 01.jpg); background-size: cover; background-repeat: no-repeat;}
.connect h3{font-size: 40px; line-height: auto;}
